.container-footer {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    height: 209px;
    margin-top: 80px;
}

.logo-footer {
    width: 122px;
    height: 40px;
    padding-top: 66px;
}

.text-footer {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-top: 30px;
}



/* format smartphone */
@media screen and (max-width: 768px) {
    .logo-footer {
        padding-top: 62px;
    }
    
    .text-footer {
        font-size: 12px;
    }
}


/* format tablet */
@media screen and (min-width:768px) and (max-width:992px) {}