.container-header {
    width: 1240px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
    align-items: center;
    border: 1px solid blue;
}
    

.logo-header {
    width: 210px;
    height: 68px;
}

.nav-header {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    width: auto;
}

.nav-text {
    width: auto;
    margin-left: 57px;
    color: #FF6060;   
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-decoration: none;

}

.border a:hover {
    border-bottom: 2px solid #FF6060;
}


/* format smartphone */
@media screen and (max-width: 768px) {
    .container-header {
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .logo-header {
        width: 145px;
        height: 47px;
    }

    .nav-text {
        height: 17px;
        margin-left: 15px;
        font-size: 12px;
        text-transform: uppercase;       
    }
}


/* format tablet */
@media screen and (min-width:768px) and (max-width:992px) {}