.title{
    color: #FF6060;
    font-size: 36px;
    width: auto;      
    font-family: 'Montserrat', sans-serif;
}

.location{
    color: #FF6060;
    font-size: 18px;
    width: auto;      
    font-family: 'Montserrat', sans-serif;
}