.identity-housing {
    width: 93%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 24px;
}

.housing {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title {
    color: #FF6060;
    font-size: 36px;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    margin-top: 5px;
    text-align: start;
}

.location {
    color: #FF6060;
    font-size: 18px;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    margin-bottom: 23px;
}

.host-ratting{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.dropdown-housing{
    display: flex;
    width: 93%;   
    margin:auto;
    column-gap: 5%;
    justify-content: space-between;
}

.Description, .Equipements{
    width: 100%;
}




/* format smartphone */
@media screen and (max-width: 768px) {
    .identity-housing {
        flex-direction: column;
    }

    .housing {
        width: 100%;
    }

    .title{
        font-size: 18px;
    }

    .location {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 12px;
    }

    .host-ratting{
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
    }

    .dropdown-housing{        
        flex-direction: column;      
    }
}