.star {
    width: 30px;
    height: 30px;
    margin: 30px 0 5px 10px;
}

/* format smartphone */
@media screen and (max-width: 768px) {
    .star {
        width: 15px;
        height: 15px;
        margin: 20px 5px 20px 0;
    }
}


/* format tablet */
@media screen and (min-width:768px) and (max-width:992px) {
    .star {
        width: 22px;
        height: 22px;
        margin: 30px 0 5px 8px;
    }
}