.container-tag{
width: 115px;
height: 25px;
background-color: #FF6060;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
}


.text-tag{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}