.container-tag{
display: flex;
gap: 10px;
}

.text-tag{
    height: 25px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-radius: 10px;
    background-color: #FF6060;
    padding: 0px 20px 0 20px;
}
