.container-tag {
    display: flex;
    gap: 10px;
}

.text-tag {
    height: 25px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-radius: 10px;
    background-color: #FF6060;
    padding: 0px 20px 0 20px;
}


/* format smartphone */
@media screen and (max-width: 768px) {
    .text-tag {
        height: 18px;
        font-size: 10px;
        border-radius: 5px;
        padding: 0px 15px 0 15px;
    }
}